<div
  class="col-sm-8 col-md-6 col-lg-4 mx-auto py-5 bg-primary rounded my-5 text-white"
>
  <h2 class="text-center">Password Generator</h2>

  <label for="lengthInpuyt">Length</label>
  <input (input)="onChange($event)" type="number" class="form-control" />

  <div class="forLetters my-2 pl-4">
    <input
      name="enableLetters"
      (click)="onClick($event)"
      class="form-check-input"
      type="checkbox"
    />
    <label class="form-check-label" for="letters"
      >Check to include letters</label
    >
  </div>

  <div class="forLetters my-2 pl-4">
    <input
      name="enableNumbers"
      (click)="onClick($event)"
      class="form-check-input"
      type="checkbox"
    />
    <label class="form-check-label" for="letters"
      >Check to include numbers</label
    >
  </div>

  <div class="forLetters my-2 pl-4">
    <input
      name="enableSymbols"
      (click)="onClick($event)"
      class="form-check-input"
      type="checkbox"
    />
    <label class="form-check-label" for="letters"
      >Check to include symbols</label
    >
  </div>
  <div
    *ngIf="errorMessage !== ''"
    class="alert alert-danger my-4 text-center"
    role="alert"
  >
    {{errorMessage}}
  </div>
  <button (click)="generatePassword()" class="btn btn-danger btn-block">
    Generate
  </button>

  <h4>Generated Password: {{state.password}}</h4>
</div>
